In [18]:
import pandas as pd
from opencage.geocoder import OpenCageGeocode
from pprint import pprint
import unicodedata
import numpy as np
import requests
from arcgis.gis import *
#key = 'f983690f78ea42d0801a8fa9b349406d'
#geocoder = OpenCageGeoCode(key)

In [12]:
#1#Choose a dataset you like
df_1 = pd.read_csv('Directorio.csv',sep=';', engine='python', encoding='latin1')
df = df_1.copy()
df_evolution_1 = pd.read_csv('Viales_evolucion.csv',sep=';', engine='python', encoding='latin1')
df_evolution = df_evolution_1.copy()

In [13]:
df.shape[1]
#df = df.dropna(how='any')
#df.head()

print(len(df))
df.columns

10770

Index(['COD_VIA', 'VIA_CLASE', 'VIA_PAR', 'VIA_NOMBRE', 'VIA_NOMBRE_ACENTOS',
       'DISTRITO', 'BARRIO', 'IMPAR_MIN', 'IMPAR_MAX', 'PAR_MIN', 'PAR_MAX'],
      dtype='object')

In [14]:
# Filter the dataset

df = df.drop(['COD_VIA', 'VIA_NOMBRE_ACENTOS'],axis=1)
df['VIA_CLASE'] = df.VIA_CLASE.apply(lambda x: x if not pd.isnull(x) else '')
df['VIA_PAR'] = df.VIA_PAR.apply(lambda x: x if not pd.isnull(x) else '')
df['VIA_NOMBRE'] = df.VIA_NOMBRE.apply(lambda x: x if not pd.isnull(x) else '')

df_calles = pd.DataFrame(columns=['DIRECTION'])
df_calles['DIRECTION'] = df['VIA_CLASE'].astype(str) + ' ' + df['VIA_PAR'].astype(str) + ' ' + df['VIA_NOMBRE'].astype(str)

df_calles[40:60]

                      DIRECTION
40                 AUTOVÍA  A-6
41                 AUTOVÍA  A-6
42                 AUTOVÍA  A-6
43  CALLE DEL ABAD JUAN CATALAN
44            CALLE DE LA ABADA
45            CALLE DE LA ABADA
46          CALLE DE LOS ABADES
47          CALLE DE LA ABADESA
48              CALLE DE ABALOS
49        CARRETERA  ABANDONADA
50            CALLE DEL ABANICO
51             CALLE DE ABANTOS
52           CALLE DEL ABARDERO
53            CALLE DE ABARZUZA
54                CALLE DE ABAY
55      CALLE DE ABDON TERRADAS
56             CALLE DEL ABEDUL
57            CALLE DE ABEGONDO
58          CALLE DEL ABEJARUCO
59         CALLE DE LA ABEJUELA

#Create functions or classes if needed.

class GetData:
    def __init__(self, df, drop1, drop2, col1, col2, col3):
        self.df = df
        self.col1 = str(col1)
        self.par =  str(col2)
        self.nombre = str(col3)
        self.drop1 = 
        self.drop2 = 
    def DropColumns():
        df = df.drop(self.drop1,self.drop2)
    #remove nulls from dataframe
    def RemoveNulls():
        df = df.fillna(' ', inplace = True)
    #concatenate columns to get the full directions
    def ConcatenateColumns():

- Enrich the dataset with external data, you can choose one of the following:
    * L1) Use a HTTP API.
    * L2) Use an API that requires authentication via token or oAuth.
    * L3) Do basic web scraping with python `requests` module.
    * L4) Perform advanced scraping with `selenium`.

In [ ]:
dataframe = df_calles['DIRECTION']
def ListDirections(dataframe):
    for index, row in df.iterrows():
        return row[:]
ListDirections(dataframe)

In [ ]:
df_calles.head()

In [ ]:
# API GOOGLE MAPS TO OBTAIN LAT nd LONG
    #  converting street addresses into geographic coordinates 

# A Geocoding API request takes the following form:
# https://maps.googleapis.com/maps/api/geocode/outputFormat?parameters

#url = 

#https://maps.googleapis.com/maps/api/geocode/json?address={},+CA&key=APIKEY

In [ ]:
#ONCE I RECEIVE THE WEB SCRAPPED NEWS:
# accented_directionsis of type 'unicode'
def Strip_Accents(accented_directions):
    return ''.join(direction for direction in unidecode.unidecode(accented_directions))
# Strip_Accents(dataframe)

In [ ]:
#POSTERIOR PARA CONCLUSIONES
'''
mergeada = df.merge(df_evolution, how='left', on='COD_VIA').drop_duplicates()
display(mergeada)
mergeada = mergeada.drop(columns=['COD_VIA_x'])
'''

directions = 'calle Alcalá' 
import googlemaps
# Set googlemaps API key
g_key = googlemaps.Client(key=APIKEY)
# Create Geocode result object > dataset for an object from Google server
# empty columns for values of latitudes and longitudes to Pandas dataframe
df['LAT'] = None
df['LON'] = None
# Go through all objects and get its lat and log
    #geocode method is responsible to get lat and long
'https://maps.googleapis.com/maps/api/geocode/json?address={}&key={{}}'.format(address,APYKEY)

In [ ]:
APIKEY = 'AIzaSyDClfn8EflLOtSQcHOG2XbuNO_dZ8vzVo0'
df_calles = df_calles[40:60]
directions = df_calles['DIRECTION']
res = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address={}&key={{}}'.format(directions,APIKEY))
data = res.json()
res

In [ ]:
df_calles.head()

In [ ]:
df_calles = df_calles[40:60]
df_calles = df_calles.drop_duplicates()
import googlemaps
# Set googlemaps API key
APIKEY = 'AIzaSyDClfn8EflLOtSQcHOG2XbuNO_dZ8vzVo0'
gmaps_key = googlemaps.Client(key=APIKEY)
df_calles["LAT"] = None
df_calles["LON"] = None

for i in range(0, len(df_calles['DIRECTION']),1):
    geocode_result = gmaps_key.geocode(df.iat[i,0])
    try:
        print('buscando dirección')
        lat = geocode_result[0]['geometry']['location']['lat']
        print('buscando dirección 1')
        lon = geocode_result[0]['geometry']['location']['lng']
        print('buscando dfa')
        df.iat[i,df.columns.get_loc("LAT")] = lat
        print('buscando dfb')
        df.iat[i,df.columns.get_loc("LON")] = lon
        #trying to request to Google server by value of address
    except:
        lat = None
        lon = None
df

In [ ]:
df_calles.head()

In [ ]:
res.status_code

In [ ]:
type(res.json())
#print(data["lat"])
print(data)

In [ ]:
df_calles

In [ ]:
def getDirections(address):
    for i in address:
        res = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address={}&key={{}}'.format(address,APYKEY))
        data = res.json()
    return {
        'lat': data["lat"],
        'lng': data["lng"]
    }

for i in range(0, len(df_calles)):
    print(getDirections(i+1))

In [ ]:
from opencage.geocoder import OpenCageGeocode

In [15]:
def get_gps (adress):
    key = 'f983690f78ea42d0801a8fa9b349406d'
    geocoder = OpenCageGeocode(key)
    results = geocoder.geocode(adress)
    return {
        "calle": adress, 
        "latitud" : results[0]['geometry']['lat'], 
        "longitud" : results[0]['geometry']['lng'],
        "code" : results[0]['components']['country_code']
    }

In [29]:
def returnDic (df):
    direcciones = []
    for calle in df:
        try: 
            query = get_gps(calle)
            # print(query)
            direcciones.append(query)
        except: 
            print('fallo')
    dic = pd.DataFrame(direcciones)        
    return dic

returnDic (df_calles['DIRECTION'][55:60])

{'calle': 'CALLE DE ABDON TERRADAS', 'latitud': 40.434808, 'longitud': -3.7130711, 'code': 'es'}
{'calle': 'CALLE DEL ABEDUL', 'latitud': 40.4661563, 'longitud': -3.6827232, 'code': 'es'}
{'calle': 'CALLE DE ABEGONDO', 'latitud': 43.3478636, 'longitud': -8.2554999, 'code': 'es'}
{'calle': 'CALLE DEL ABEJARUCO', 'latitud': 40.449426, 'longitud': -3.7699357, 'code': 'es'}
{'calle': 'CALLE DE LA ABEJUELA', 'latitud': 40.391005, 'longitud': -3.7456342, 'code': 'es'}

                     calle code    latitud  longitud
0  CALLE DE ABDON TERRADAS   es  40.434808 -3.713071
1         CALLE DEL ABEDUL   es  40.466156 -3.682723
2        CALLE DE ABEGONDO   es  43.347864 -8.255500
3      CALLE DEL ABEJARUCO   es  40.449426 -3.769936
4     CALLE DE LA ABEJUELA   es  40.391005 -3.745634

In [28]:
dic = pd.DataFrame(direcciones)
display(dic)

                     calle code    latitud  longitud
0  CALLE DE ABDON TERRADAS   es  40.434808 -3.713071
1         CALLE DEL ABEDUL   es  40.466156 -3.682723
2        CALLE DE ABEGONDO   es  43.347864 -8.255500
3      CALLE DEL ABEJARUCO   es  40.449426 -3.769936
4     CALLE DE LA ABEJUELA   es  40.391005 -3.745634

In [8]:
df_calles

55    CALLE DE ABDON TERRADAS
56           CALLE DEL ABEDUL
57          CALLE DE ABEGONDO
58        CALLE DEL ABEJARUCO
59       CALLE DE LA ABEJUELA
Name: DIRECTION, dtype: object

In [19]:
from arcgis.gis import *
my_gis = GIS()
my_gis.map()

map = gis.map("Calle Alcalá, Madrid")
map

NameError: name 'gis' is not defined

In [ ]:
# INFORME CON FOTOS VER EJEMPLO
# DEL QUE MÁS MOVIDAS TENGA, MOSTRAR FOTOS !!!

In [ ]:
"""
termino = []

for e_lista in range(len(search_in_google)):
    termino.append(search_in_google[e_lista][0])

url = []
busqueda_json = []
googleGeocodeUrl = 'https://maps.googleapis.com/maps/api/place/textsearch/json?query='

dict_busqueda = {}

# MADRID -> 40.418889,-3.691944 30 km a la redonda
# Seleccionamos como referencia del mapa que vamos a utilizar las coordenadas de Madrid y un radio de 30 km.
ubicacion = "&location=40.418889,-3.691944&radius=30000"

# Dejo esta KEY provisionalmente para demostración del script
APIKEY = '&key=' + 'AIzaSyBXnOg02mIFyp_i_Z7JqZBArs6HTrYRvHA'
# APIKEY = '&key=' + 'AIzaSyB7GxdgMSWZ-EwM2HoBWkbJqjpVI6q2Ec8'

for i in range(len(termino)):
    try:
        url.append(str(googleGeocodeUrl + "calle " + termino[i] + ubicacion + APIKEY))
        json_response = requests.get(url[i])
        busqueda_json.append(json_response.json())
        dict_busqueda[dict_urls[termino[i]]]=json_response.json()
    except:
        pass